<!-- Start Header -->
{% include 'header.html' with user=user %}
<!-- End Header -->
<!-- Start Section -->
{% block content %}
<section class="section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-40">
                <h1>About us</h1>
                <p>GParser started out in 2020 as a small group of SEO and IT specialists united by one
                    mission — to make online competition fair and transparent, with equal opportunities for everyone.
                    We at GParser are loyal to the fundamental values that got us to where we are now — adapting to
                    change over following a strict plan and always placing individuals over processes.</p>
            </div>
        </div>
</section>
<!-- End Section -->
{% endblock %}

{% include 'footer.html' with user=user %}