<!-- Start Header -->
{% include 'header.html' with user=user %}
<!-- End Header -->
<!-- Start Section -->
{% block content %}
<section class="section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-40">
                <h1>About</h1>
                <p>Hinc intellegebat ex eos, pro duis vidit graecis at, adhuc dolor consectetuer has at. Libris laboramus an eos, invidunt temporibus ut mel,
                    illud urbanitas in eos. Eos no illud atqui, pri dicunt explicari interpretaris ne, no sit harum meliore. Esse cibo officiis ea nec.</p>
                <a href="#" class="btn btn-primary btn-stroke btn-rounded">Learn more </a>
            </div>
        </div>
</section>
<!-- End Section -->
{% endblock %}

{% include 'footer.html' with user=user %}