{% load static %}

<header class="header js-header-scroll">
        <nav hidden>
            <div class="nav-header">
                <a href="#" class="brand">
                    <img src="{% static 'assets/brand/logo.png' %}" class="logo" alt="" />
                </a>
                <button class="toggle-bar">
                    <span class="fa fa-bars"></span>
                </button>
            </div>
            <!-- Start Header menu for mobile -->
            <div class="header__mobile js-header-menu">
                <a href="#" class="header__mobile-brand">Menu</a>
                <button class="toggle-bar header__mobile-toggle">
                    <span class="fa fa-remove"></span>
                </button>
            </div>
            <!-- End Header menu for mobile -->
            <ul class="menu">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="about.html">About GParser</a></li>
                <li><a href="contact.html">Contact</a></li>
                {% if user.is_authenticated %}
                <li>Hello, {{ user }}!</li>li>
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
            <div>

            </div>
        </nav>
    </header>