<!DOCTYPE html>
{% load static %}
    <!-- Start Header -->
    {% include 'header.html' with user=user %}
    <!-- End Header -->
    <div id="app">
        {% block content %}
        <!-- Start Masthead -->
        <section class="masthead js-masthead-height pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-40">
                        <div class="masthead__content">
                            <h1 class="masthead__content-title">GParser - Tool to research your competitors and niche</h1>
                            <p class="masthead__content-subtitle">For SEO and digital marketing professionals.</p>
                        </div>

                        <div id="form-parents" class="masthead__form">
                    <form method="post" action="/register/">
                        <div class="form-group">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.username.label_tag }}
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                {{ form.email.errors }}
                                {{ form.email.label_tag }}
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                {{ form.password.label_tag }}
                                {{ form.password }}
                            </div>
                        </div>
                        <div class="masthead__form-action">
                            <input class="btn btn-rounded btn-orange btn-icon-right" type="submit" value="Get started">
                        </div>
                    </form>
                </div>
                    </div>

                    <div class="col-lg-8">
                        <img src="{% static 'assets/images/business-looking.png' %}" class="img-fluid"
                             alt="Business Looking" />
                    </div>
                </div>
            </div>
        </section>
        <!-- End Masthead -->
        <!-- Start Section -->
        <section class="section section__purple">
            <div class="container">
                <idv class="row">
                    <div class="col-12">
                        <div class="owl-active-nav">
                            <div class="owl-carousel js-owl-clients">
                                <!-- Start client 01 -->
                                <div class="item">
                                    <a href="#" class="client">
                                            <img src="{% static 'assets/images/client_01.png' %}"
                                                 class="client_logo-hover" alt="Client name" />
                                        <img src="{% static 'assets/images/client_01.png' %}"
                                             class="client_logo" alt="Client name" />
                                    </a>
                                </div>
                                <!-- End client 01 -->

                                <!-- Start client 02 -->
                                <div class="item">
                                    <a href="#" class="client">
                                        <img src="{% static 'assets/images/client_02.png' %}"
                                             class="client_logo-hover" alt="Client name" />
                                        <img src="{% static 'assets/images/client_02.png' %}"
                                             class="client_logo" alt="Client name" />
                                    </a>
                                </div>
                                <!-- End client 02 -->

                                <!-- Start client 03 -->
                                <div class="item">
                                    <a href="#" class="client">
                                        <img src="{% static 'assets/images/client_03.png' %}"
                                             class="client_logo-hover" alt="Client name" />
                                        <img src="{% static 'assets/images/client_03.png' %}"
                                             class="client_logo" alt="Client name" />
                                    </a>
                                </div>
                                <!-- End client 03 -->

                                <!-- Start client 04 -->
                                <div class="item">
                                    <a href="#" class="client">
                                        <img src="{% static 'assets/images/client_04.png' %}"
                                             class="client_logo-hover" alt="Client name" />
                                        <img src="{% static 'assets/images/client_04.png' %}"
                                             class="client_logo" alt="Client name" />
                                    </a>
                                </div>
                                <!-- End client 04 -->

                                <!-- Start client 05 -->
                                <div class="item">
                                    <a href="#" class="client">
                                        <img src="{% static 'assets/images/client_06.png' %}"
                                             class="client_logo-hover" alt="Client name" />
                                        <img src="{% static 'assets/images/client_06.png' %}"
                                             class="client_logo" alt="Client name" />
                                    </a>
                                </div>
                                <!-- End client 05 -->

                                <!-- Start client 06 -->
                                <div class="item">
                                    <a href="#" class="client">
                                        <img src="{% static 'assets/images/client_05.png' %}"
                                             class="client_logo-hover" alt="Client name" />
                                        <img src="{% static 'assets/images/client_05.png' %}"
                                             class="client_logo" alt="Client name" />
                                    </a>
                                </div>
                                <!-- End client 06 -->
                            </div>
                        </div>
                    </div>
                </idv>
            </div>
        </section>
        <!-- End Section -->
        <!-- Start Section -->
        <section class="section pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-lg-5 offset-lg-1 mb-40">
                        <img src="{% static 'assets/images/using-software.png' %}"
                             class="img-fluid" alt="Using Software" />
                    </div>
                    <div class="col-lg-5 mb-40">
                        <h2>GParser in figures</h2>
                        <p>We are proud of our work and our results. We aim to provide our clients with the best
                            product, which is now used by over 1 million SEO and marketing specialists worldwide.
                        </p>
                        <a href="/about" class="btn btn-primary btn-stroke btn-rounded">Learn more </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->

        <!-- Start Section -->
        <section class="section pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-40">
                        <img src="{% static 'assets/images/businessman-with-laptop.png' %}" class="img-fluid"
                             alt="Business Man with Laptop" />
                    </div>
                    <div class="col-lg-5 offset-lg-1 mb-40">
                        <h2>Organic Search Report</h2>
                        <p>
                            Analyze your competitors' position in the Google search engine. See the exact snippets,
                            titles for which your competitors rank in organic search.
                        </p>
                        <a href="/about" class="btn btn-primary btn-stroke btn-rounded">Learn more </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->

        <!-- Start Section -->
        <section class="section section__gray pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <h2 class="section__heading section__heading-center">Product screenshot</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="owl-active-nav">
                            <div class="owl-carousel js-owl-screenshot">
                                <!-- Start screenhot 01 -->
                                <div class="item">
                                    <img src="{% static 'assets/images/dashboard-01.png' %}" class="img-fluid"
                                         alt="App dashboard" />
                                </div>
                                <!-- End screenhot 01 -->
                                <!-- Start screenhot 02 -->
                                <div class="item">
                                    <img src="{% static 'assets/images/dashboard.png' %}" class="img-fluid"
                                         alt="App dashboard" />
                                </div>
                                <!-- End screenhot 02 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
        <!-- Start Section -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <h2 class="section__heading section__heading-center">User testimonials</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 text-center mb-20">
                        <div class="owl-carousel js-owl-testimoni">
                            <!-- Start testimoni 01 -->
                            <div class="item">
                                <div class="testimoni">
                                    <blockquote><strong>GParser</strong> is a great tool. The data is fresh,
                                        the usability is fantastic and you guys keep adding great new features to
                                        the platform.</blockquote>
                                    <p class="testimoni__author"><a href="#">Aaron Wall</a></p>
                                    <a href="#" class="testimoni__avatar"><img
                                            src="{% static 'assets/images/testimoni-avatar01.png' %}"
                                            class="testimoni__avatar-image" alt="Aaron Wall" /></a>
                                </div>
                            </div>
                            <!-- End testimoni 01 -->

                            <!-- Start testimoni 02 -->
                            <div class="item">
                                <div class="testimoni">
                                    <blockquote>What I love about <strong>GParser</strong> is their commitment to speed, design and
                                        innovation. The data is fresh, relevant, and granular enough to allow us to
                                        make very actionable decisions. I love that they’ve made significant moves to
                                        continually innovate and add new features. Not only do they make us stronger
                                        as an agency, but they’ve kept the entire SEO software industry on its toes.
                                    </blockquote>
                                    <p class="testimoni__author"><a href="#">Rhea Drysdale</a></p>
                                    <a href="#" class="testimoni__avatar"><img
                                            src="{% static 'assets/images/testimoni-avatar02.png' %}"
                                            class="testimoni__avatar-image" alt="Rhea Drysdale" />
                                    </a>
                                </div>
                            </div>
                            <!-- End testimoni 02 -->

                            <!-- Start testimoni 03 -->
                            <div class="item">
                                <div class="testimoni">
                                    <blockquote>At Outspoken Media, we rely on <strong>GParser</strong> daily to help
                                        us achieve great results for our clients. What makes <strong>GParser</strong>
                                        invaluable to us are its intuitive design, reliable data, and innovative
                                        features. <strong>GParser</strong> is a must-have for serious digital
                                        marketers and SEOs
                                    </blockquote>
                                    <p class="testimoni__author"><a href="#">Jon Cooper</a></p>
                                    <a href="#" class="testimoni__avatar"><img
                                            src="{% static 'assets/images/testimoni-avatar03.png' %}"
                                            class="testimoni__avatar-image" alt="Jon Cooper" /></a>
                                </div>
                            </div>
                            <!-- End testimoni 03 -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->

        <!-- Start Section -->
        <section class="section section__cta">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h2>Improve your SEO performance with us!</h2>
                        <a href="/register" class="btn btn-white btn-rounded btn-lg btn-icon-right">Get started</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
        {% endblock %}
    </div>

    {% include 'footer.html' with user=user %}
