<!DOCTYPE html>
{% load static %}
    <!-- Start Header -->
    {% include 'ds-header.html' with user=user %}
    <!-- End Header -->
    <div id="app">
        {% block content %}
        <!-- Start Section -->
        <section class="section pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 mb-40">
                        <h1>Dashboard</h1>
                        <div>
                            <form method="post" action="/dashboard/">
                                <div class="form-group">
                                    {% csrf_token %}
                                    <div>
                                        <label>Keyword</label>
                                        <input name="keyword" type="text" placeholder="keyword">
                                    </div>
                                    <div>
                                        <label>Region</label>
                                        <input name="region" type="checkbox" placeholder="region">
                                    </div>
                                </div>
                                <div>
                                    <input class="btn" type="submit" value="Parser">
                                </div>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->


        <!-- End Section -->
        {% endblock %}
    </div>

    {% include 'ds-footer.html' with user=user %}
