{% load static %}

    <!-- Start Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer__subfooter">
                        <div class="row">
                            <div class="col-md-6">
                                <p>© <a href="#">GParser</a> | Copyright 2020. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>

	<!-- Template main JavaScript -->
    <script src="{% static 'assets/js/main.min.js' %}"></script>

    <script>const player = new Plyr('#player');</script>

	<!-- Template custome JavaScript -->
    <script src="{% static 'assets/js/scripts.min.js' %}"></script>

</body>
</html>